# Trash
.DS_Store

# Python
venv/
__pycache__/
*.pyc

# Terraform
.terraform.lock.hcl
.terraform/
terraform.tfstate.backup

# CA
ca.csr
ca.pem
ca-key.pem
ca-csr.json

# Generated certs
scripts/admin
scripts/rootca
scripts/workers
scripts/controller
scripts/proxy
scripts/scheduler
scripts/api
scripts/serviceaccount
